<center>
<h1>Hostel</h1>

	<div class="btn-group" role="group" aria-label="label_1">
		<% 4.times do |i| %>	
			<% 8.times do |j| %>
	  		<button id="<%= (i * 10) + (j + 1) %>" type="button" class="btn btn-default hostel-win" style="margin: 5px 5px 5px 5px;">&nbsp;</button>
	  	<% end %>
	  	</br>
	  <% end %>
	</div>

	<div type="button" class="btn btn-default" id="green" style="background: #00FF00;">Green</div>
	<div type="button" class="btn btn-default" id="red" style="background: #FF0000;">Red</div>
</center>