// Place all the styles related to the sequences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hostel-win {
	margin: 5px 5px 5px 5px !important;
}

.description {
	font-size: 18px;
}