<div class="container-fluid">
  <div class="row">
    <div class="col-xs-10">
    	<center>
      <%= render "compose" %>
      </center>
    </div>
    <div class="col-xs-2">
      <%= render "form" %>
      <%= link_to 'Back', sequence_path(@sequence) %>
    </div>
  </div>
</div>