<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
    	<center>
      <%= render "compose" %>
      </center>
    </div>
    <div class="col-xs-4">
      <%= render "form" %>
    </div>
  </div>
</div>